.main{
    width:200px;
    height:260px;
    background: red;
    text-align: center;
    overflow:hidden;
    /*超出的部分隐藏*/
    margin:100px auto;
}
.main img{
     width:200px;
     height:130;
     float:left;
}
.bt{
    width:100%;
    height:30px;
    background:black;
    float:left;
    position:relative;
    top:-28px;
    opacity:0.5;
}
.main a{
    position: relative;
    top:-55px;
    color: white;
    text-decoration:none; 
}
.main a:hover{
    text-decoration:underline;

}
.main img:hover{
    transform:scale(1.3);
    /*鼠标悬停图片放大1.3倍*/
}